@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using games_r_us_source.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<div class="border-2 font-[Kadwa] m-auto mt-6 w-2/5 rounded border-black text-center">

    <h1 class="mb-4 text-2xl font-bold">Log in</h1>
    <p>New to Games '<span class="text-red-500">Я</span>' Us? <NavLink class="text-blue-400" href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register</NavLink></p>

    <StatusMessage Message="@errorMessage" />
    <EditForm class="m-2 flex flex-col justify-center" Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        <label for="email" class="left-[9999px] absolute">Email</label> @* For accessibility purposes *@
        <InputText @bind-Value="Input.Email" id="email" class="border-[1px] peer mt-8 rounded border-black py-2" autocomplete="username" aria-required="true" placeholder="Email" />
        <ValidationMessage For="() => Input.Email" class="text-red-500" />
        <label for="password" class="left-[9999px] absolute">Password</label>
        <InputText type="password" id="password" @bind-Value="Input.Password" class="border-[1px] mt-4 rounded border-black py-2" autocomplete="current-password" aria-required="true" placeholder="Password" />
        <ValidationMessage For="() => Input.Password" class="text-red-500" />
        <div class="flex flex-col justify-between md:flex-row">
            <label class="m-2">
                <InputCheckbox @bind-Value="Input.RememberMe" />
                Remember me
            </label>
            <NavLink class="m-2 text-left text-red-700" href="Account/ForgotPassword">Forgot your password?</NavLink>
        </div>

        <button type="submit" class="border-[1px] m-auto block rounded-xl border-black bg-green-300 p-2">Log in</button>
    </EditForm>
    <div class="border-b-2 m-auto my-8 h-1 w-3/4 border-dashed border-black"></div> @* Vertical divider *@
    <p class="mb-3">Or sign in using</p>
    <ExternalLoginPicker />
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
