<AuthorizeView>
	<Authorized>
		<NavLink class="m-2 h-10 w-10 rounded-3xl border border-black bg-emerald-300 hover:bg-gray-200" href="Account/Manage">
			<p class="text-center text-3xl font-bold text-black">@(context.User.Identity.Name[0])</p>
		</NavLink>
	</Authorized>
	<NotAuthorized>
		@* Display anonymous profile image here *@
		<NavLink href="/Account/Login">
			<img src="./userlogo.png" alt="User image not logged in" />
		</NavLink>
	</NotAuthorized>
</AuthorizeView>

@code {

}
