@inherits LayoutComponentBase
@using games_r_us_source.Components.Account.CustomComponents
@using games_r_us_source.Components.Listing;
@inject NavigationManager NavigationManager

<div class="page">
    <main>
        <div class="item-center flex flex-row items-center justify-between bg-blue-300">
            <NavLink href="/">
                <h1 class="font-[Kadwa] m-2 text-4xl font-medium">Games '<span class="text-red-500">Я</span>' Us</h1>
            </NavLink>

            <div class="flex flex-col items-center lg:flex-row">
                <ListingCreate /> @* Authorization check not needed as component already comes with one *@
                <ListingSearch />
            </div>

            <div class="flex flex-col items-center lg:flex-row">
                <LoginLogoutButton />
                <ProfileButton />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>