@using Microsoft.AspNetCore.Identity
@using games_r_us_source.Data

@inject SignInManager<ApplicationUser> SignInManager

<ul class="flex flex-col">
    <li class="mt-2.5">
        <NavLink class="rounded-lg bg-gray-300 px-1 py-1 hover:bg-gray-200" href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
    <li class="mt-2.5">
        <NavLink class="rounded-lg bg-gray-300 px-1 py-1 hover:bg-gray-200" href="Account/Manage/ChangePassword">Change Password</NavLink>
    </li>
</ul>

@code {
    // The below code is needed for our OAuth endpoint
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
