@inherits LayoutComponentBase
@layout AccountLayout

<h1 class="text-xl font-bold">Manage your account</h1>

<main>
    <section>
        <ManageNavMenu />
    </section>
    <section>
        @Body
    </section>
</main>
