@using Microsoft.EntityFrameworkCore
@using games_r_us_source.Data
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if (listings == null)
{
    <button @onclick="ViewMyListings" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">View My Listings</button>
}
else if (listings.Any())
{
    <ul>
        @foreach (var listing in listings)
        {
            <li class="mt-4">
                <a @onclick="() => NavigateToListingDetails(listing.ID)" class="text-blue-500 hover:underline">@listing.Name</a>
            </li>
        }
    </ul>
}
else
{
    <p class="text-red-500 mt-4 p-2 bg-gray-200 border-red-500 max-w-[fit-content] inline-block rounded border font-bold">No listings found.</p>
}

@code {
    private List<Listing> listings;

    private void NavigateToListingDetails(int listingId)
    {
        NavigationManager.NavigateTo($"listingdetails/{listingId}");
    }

    private async Task ViewMyListings()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userId = user.Identity.Name;

            await using var dbContext = ContextFactory.CreateDbContext();
            listings = await dbContext.Listings
                .Where(l => l.ApplicationUserID == userId)
                .ToListAsync();
        }
    }
}
