@using Microsoft.EntityFrameworkCore
@using games_r_us_source.Data
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject NavigationManager NavigationManager

@if (!IsListingDeleted)
{
    <button @onclick="ShowConfirmationDialog" class="bg-red-500 px-4 py-2 text-white h-20 w-20 rounded hover:bg-red-600">Delete</button>
}
else
{
    <div class="mt-4 text-green-500">Listing successfully deleted</div>
}

@if (ConfirmationDialog)
{
    <section class="inset-0 bg-black fixed z-30 flex items-center justify-center bg-opacity-50">
        <section class="bg-white p-4 rounded">
            <p class="mb-4">Are you sure you want to delete this listing?</p>
            <div class="space-x-4 flex justify-center">
                <button class="bg-red-500 px-4 py-2 text-white rounded" @onclick="RemoveListing">Yes</button>
                <button class="bg-green-500 px-4 py-2 text-white rounded" @onclick="() => ConfirmationDialog = false">No</button>
            </div>
        </section>
    </section>
}

@code {
    [Parameter]
    public int ListingID { get; set; }

    private bool IsListingDeleted { get; set; } = false;
    private bool ConfirmationDialog { get; set; } = false;

    private async Task ShowConfirmationDialog()
    {
        ConfirmationDialog = true;
    }

    private async Task RemoveListing()
    {
        using (var dbContext = ContextFactory.CreateDbContext())
        {
            dbContext.Listings.Remove(new Listing { ID = ListingID });
            await dbContext.SaveChangesAsync();
            IsListingDeleted = true;
            ConfirmationDialog = false;
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }
}


