@page "/counter"
@rendermode InteractiveServer
@using Components.Bid;
@using Microsoft.AspNetCore.SignalR.Client
@using games_r_us_source.Components.Notifications
@using games_r_us_source.Hubs

@inject NotificationState NotificationState

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<!-- Temporary for testing purposes -->
<games_r_us_source.Components.Account.CustomComponents.CompleteProfilePrompt />

<!-- temp buttons to test signalr messaging -->
<button @onclick="Send" class="rounded-xl bg-orange-300 px-4 py-2">Click me</button>

@code {
    private async Task Send()
    {
        NotificationState.SetNotificationDTO(new NotificationDTO("simon.t.sorqvist@gmail.com", "Success"));
    }
}
