@using games_r_us_source.Components.Listing
@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<!-- Temporary for testing purposes -->
<ListingDetails CurrentListingID="1" />