@using games_r_us_source.Components.Listing
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Temporary for testing purposes -->
<ListingDetails />
<DeleteListing />