@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.EntityFrameworkCore
@using games_r_us_source.Components.Listing
@using games_r_us_source.Components.Account
@using games_r_us_source.Components.Account.CustomComponents
@using games_r_us_source.Components.Notifications
@using games_r_us_source.Data
@using games_r_us_source.Hubs
@using games_r_us_source.Components.Helpers

@inject NotificationState NotificationState

@rendermode InteractiveServer

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<LoginLogoutButton />

<ProfileButton />

<ListingCreate />

<ListingSearch OnSearchResultsUpdated="HandleSearchResults" />

<ListingSort OnSortResultsUpdated="HandleSorting" />

<!-- Only here as a template for how to show content if
    user is logged  in or not.
-->
<AuthorizeView>
    <Authorized>
        @* Display this content here if user is logged in *@
        @* content accesses the AuthenticationState of the logged in user *@
        @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        @* Display this content here if user is not logged in *@
    </NotAuthorized>
</AuthorizeView>

<ListingDisplayAll listings="@listings" />

<ListingsForUser />

@code {
    private List<Listing> listings = new List<Listing>();

    private void HandleSearchResults(List<Listing> results)
    {
        listings = results; // Updates the list that is passed to ListingsDisplayAll
        StateHasChanged(); // <-- this might be unnecessary
    }

    private void HandleSorting(List<Listing> sortResults)
    {
        listings = sortResults;
        StateHasChanged();
    }

    // UPDATE THIS COMMENT =======================================================================================
    // send is a test class that changes notificationstate which in turn
    // triggers a response from onchange triggering a method call to handlenotification
    private async Task Send()
    {
        NotificationState.SetNotificationDTO(new NotificationDTO("simon.t.sorqvist@gmail.com", "Success"));
    }
}
