@using Models;
@using Data;
@inject AppDbContext _context;

<h3>Place Bid</h3>

<EditForm Model=@Bid OnSubmit=@HandleSubmit>
    <label>
        New bid
        <InputNumber class="border-2 border-black" @bind-Value="@Bid.Amount" />
    </label>
    <button type="submit">Place bid</button>
</EditForm>

@code {
    [Parameter]
    public int ListingID { get; set; }

    Bid Bid = new Bid();

    private void HandleSubmit()
    {
        decimal highestBid = GetHighestBidAmountForCurrentListing(ListingID);
        Console.WriteLine(highestBid);
    }

    private decimal GetHighestBidAmountForCurrentListing(int listingID)
    {
        decimal highestBidAmount = _context.Bids.Where(e => e.ListingID == listingID).Max(b => b.Amount);

        return highestBidAmount;
    }
}
